
@font-face 
  font-family: light
  src: url('../font/din_30640_neuzeit_grotesk_lt_light-webfont.ttf'),
    url('../font/din_30640_neuzeit_grotesk_lt_light-webfont.woff'),
    url('../font/din_30640_neuzeit_grotesk_lt_light-webfont.woff2'),
    url('../font/DIN 30640 Neuzeit Grotesk LT Light.ttf')
